<div class="text-center">
    <h1>
        No se pudo cargar el listado de personas y departamentos desde la base de datos.
    </h1>
    <br />
    <p>@Html.ActionLink("Atras", "CambioDepartamento")</p>
</div>