<div class="text-center">
    <h1>
        El departamento de las personas seleccionadas fue actualizado con exito.
    </h1>
    <br />
    <p>@Html.ActionLink("Atras", "CambioDepartamento")</p>
</div>